<!DOCTYPE html>
<html lang = "zh-Hant-TW">
<head>
  <meta charset="utf-8">
  

</head>
<body>
<div id="app">
    <h1>My Header</h1>
    <p>My paragraph.</p>
    <p>{{message}}</p>
    <div v-if="loading">Yes</div>
    <div v-show="showing">Showing</div>
    <ul>
      <li v-for="item in colors">
        {{item}}
      </li>
    </ul>
    <h2>各家父親</h2>
    <ul>
      <button v-for="item in families" v-on:click="myFa(item.father)">
        {{item.father}}
      </button>
    </ul>
    <p>{{message}}</p>
    <div v-if="score>=60">passs</div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="application/javascript" src="small.vue"></script>
</div>
</body>
</html>