doctype html
html
head
    title=title
    :javascript
      | if (foo) {
      |    bar()
      | }

body
    h1 Student List using Jade engine 
    ul
        each item in List
            p=item.Y
